li {
  text-align: center;
  color: white;
}
p,
h3 {
  text-align: center;
}
.about-container {
  padding: 0px 12px 20px 12px;
}
.about-container div h3 {
  margin-top: 40px;
  text-align: center;
}
.about-banner {
  background-image: url("https://media.istockphoto.com/photos/graduates-receive-a-certificate-at-the-university-picture-id1282130204?k=20&m=1282130204&s=612x612&w=0&h=GOAO9mA10miKOYbPs_BO_a_QUVJAU4X7x9ON7sgWz2U="),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 400px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us {
  font-size: 85px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
}

.about-article {
  padding: 30px 30px;
}
