.course {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 50px 50px 50px;
}
.course-body {
  text-align: center;
  margin: 20px;
  border-radius: 5px;
  height: 500px;
  overflow: hidden;
}

.course-body h5 {
  margin-bottom: 2px;
  color: rgb(233, 155, 12);
  margin-top: 10px;
}
.course-body img {
  margin-bottom: 5px;
  height: 200px;
  width: 300px;
}

.course-body h3 {
  background-color: black;
  color: white;
}
.h1-course {
  margin: 60px 0 10px 0;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card p {
  margin-top: auto;
  margin-bottom: 0;
}
.card button:hover {
  opacity: 0.7;
}
.card {
  height: 300px;
  border: 0;
}
.card-img {
  height: 100%;
}
.card-img img:hover {
  transform: scale(1.1);
}
